body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
li{
    list-style: none;
    padding: 6%;    
    border: 1px dashed black;
   
}
.pie{
    clear: both;
    color:blanchedalmond;
    padding: 10px;
}
footer{
    text-align: center;
    margin-top: 40px;
}

